@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0.1em;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

ul {
  padding: 0;
}

.header {
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0.5em;
}

.header__logo {
  width: 3rem;
  height: 3rem;
  color: brown;
  background-color: white;
  margin-right: 0.3em;
}

.header__title {
  margin-right: 0.3em;
}

.header__count {
  display: inline-block;
  background-color: brown;
  font-size: 1.8rem;
  width: 2rem;
  height: 2rem;
  border-radius: 0.3rem;
  line-height: 2rem;
  text-align: center;
  color: white;
}

.add-form {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.habit__input {
  width: 15rem;
  height: 2rem;
  border: 1px solid lightgrey;
  border-radius: 1rem 0 0 1rem;
  padding: 0 1rem;
}

.habit__button-add {
  background-color: brown;
  color: white;
  font-weight: 600;
  border-radius: 0 1rem 1rem 0;
  width: 3rem;
}

.habit {
  display: flex;
  font-size: 1.5rem;
  padding: 0.5em;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.habit-title__container {
  display: flex;
  align-items: center;
  border: 1px solid lightgrey;
  border-radius: 1em;
}

.habit-name {
  padding: 0.2rem 1rem;
  width: 30rem;
  word-wrap: break-word;
  font-weight: 400;
}

.habit-count {
  display: inline-block;
  text-align: center;
  font-size: 1.8rem;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  background-color: darkseagreen;
  border-radius: 0.3rem;
  color: white;
  margin-right: 1rem;
}

.habit-button {
  width: 2.5rem;
  font-size: 2rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase {
  color: darkred;
}

.habit-decrease {
  color: lightskyblue;
}

.habit-delete {
  font-size: 1.8rem;
  color: grey;
}

.habit__reset__container {
  display: flex;
  justify-content: center;
}

.habit__reset {
  width: 7rem;
  height: 2rem;
  font-size: 1rem;
  border-radius: 30em;
  color: white;
  background-color: brown;
  font-weight: 600;
}

/* For below 768px screen width */
@media screen and (max-width: 768px) {
  .habit {
    flex-direction: column;
  }

  .habit-name {
    width: 20rem;
  }
}
